In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf
import pandas_ta as ta
import matplotlib.dates as mdates
from datetime import datetime, timedelta

/Users/vsaravind/miniforge3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
tickers = [
        "RELIANCE.NS", "TCS.NS", "HDFCBANK.NS", "INFY.NS", "HINDUNILVR.NS",
        "ICICIBANK.NS", "KOTAKBANK.NS", "BAJFINANCE.NS", "ITC.NS",
        "BHARTIARTL.NS", "ASIANPAINT.NS", "LT.NS", "AXISBANK.NS", "SBIN.NS",
        "MARUTI.NS", "HCLTECH.NS", "SUNPHARMA.NS", "ULTRACEMCO.NS", "NESTLEIND.NS",
        "TITAN.NS", "TATASTEEL.NS", "WIPRO.NS", "ADANIGREEN.NS", "DIVISLAB.NS",
        "M&M.NS", "BAJAJFINSV.NS", "POWERGRID.NS", "NTPC.NS", "GRASIM.NS",
        "TECHM.NS", "ONGC.NS", "JSWSTEEL.NS", "CIPLA.NS", "HEROMOTOCO.NS",
        "BPCL.NS", "ADANIPORTS.NS", "SHREECEM.NS", "COALINDIA.NS", "SBILIFE.NS",
        "BRITANNIA.NS", "EICHERMOT.NS", "UPL.NS", "DRREDDY.NS", "BAJAJ-AUTO.NS",
        "INDUSINDBK.NS", "IOC.NS", "HINDALCO.NS", "TATACONSUM.NS", "VEDL.NS"
    ]

In [3]:
tickers_dict = dict()

for i in tickers:
    tickers_dict[i] = dict()

In [4]:
# tickers_dict

In [5]:
# Indicators
# - 9/26 MA
# - MACD
# - Stochastic RSI
# - CCI - Commodity Channel Index
# - PE
# - PB
# - EPS

In [122]:
stock = yf.Ticker("ICICIBANK.NS")

In [125]:
for i in stock.info:
    if 'ebitda' in i.lower():
        print(i, stock.info[i])

In [7]:
stock.info['priceToBook']

2.5650525

In [8]:
for i in stock..index.to_list():
    if "earning" in i.lower():
        print(i)

SyntaxError: invalid syntax (3623872351.py, line 1)

In [9]:
for item in stock.financials.index.to_list():
    if "pb" in item.lower():
        print(item)

In [10]:
balance_sheet = stock.balancesheet
book_value = balance_sheet.loc['Tangible Book Value'].tolist()
book_value = next((x for x in book_value if x is not None and pd.notna(x)), None)
num_shares = balance_sheet.loc['Ordinary Shares Number'].tolist()
num_shares = next((x for x in num_shares if x is not None and pd.notna(x)), None)

# Calculate Book Value per Share
book_value_per_share = book_value / num_shares
print(book_value_per_share)

640.1137777628285

In [11]:
financials = stock.financials
financials

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Tax Effect Of Unusual Items,0.0,0.0,5492892015.877921,3659070000.0,NaN
Tax Rate For Calcs,0.245467,0.21666,0.193684,0.0345,NaN
Normalized EBITDA,1786770000000.0,1539200000000.0,1256870000000.0,893340000000.0,NaN
Total Unusual Items,NaN,0.0,28360000000.0,106060000000.0,-25950000000.0
Total Unusual Items Excluding Goodwill,NaN,0.0,28360000000.0,106060000000.0,-25950000000.0
Net Income From Continuing Operation Net Minority Interest,696210000000.0,662840000000.0,607050000000.0,491280000000.0,NaN
Reconciled Depreciation,508320000000.0,403030000000.0,297970000000.0,265720000000.0,NaN
Reconciled Cost Of Revenue,6361750000000.0,6287860000000.0,5047090000000.0,3390610000000.0,NaN
EBITDA,1786770000000.0,1539200000000.0,1285230000000.0,999400000000.0,NaN
EBIT,1278450000000.0,1136170000000.0,987260000000.0,733680000000.0,NaN
Net Interest Income,-231180000000.0,-195710000000.0,-145840000000.0,-76060000000.0,NaN
Interest Expense,231180000000.0,195710000000.0,145840000000.0,179070000000.0,NaN
Interest Income,NaN,NaN,125290000000.0,103660000000.0,95480000000.0
Normalized Income,696210000000.0,662840000000.0,584182892015.87793,388879070000.0,NaN
Net Income From Continuing And Discontinued Operation,696210000000.0,667020000000.0,607050000000.0,491280000000.0,NaN
Total Expenses,7896630000000.0,7759760000000.0,6192990000000.0,4127590000000.0,NaN
Rent Expense Supplemental,NaN,NaN,6260000000.0,7780000000.0,59690000000.0
Diluted Average Shares,6765889213.0,6765594888.0,6681893231.0,6532138901.0,NaN
Basic Average Shares,6765889213.0,6765594888.0,6598369565.0,6432874848.0,NaN
Diluted EPS,102.9,98.59,90.85,75.21,NaN
Basic EPS,102.9,98.59,92.0,76.37,NaN
Diluted NI Availto Com Stockholders,696210000000.0,667020000000.0,607050000000.0,491280000000.0,NaN
Net Income Common Stockholders,696210000000.0,667020000000.0,607050000000.0,491280000000.0,NaN
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0,NaN
Net Income,696210000000.0,667020000000.0,607050000000.0,491280000000.0,NaN
Minority Interests,-93990000000.0,-73860000000.0,-71400000000.0,-46110000000.0,NaN
Net Income Including Noncontrolling Interests,790200000000.0,740880000000.0,678450000000.0,537390000000.0,NaN
Net Income Discontinuous Operations,0.0,4180000000.0,NaN,NaN,NaN
Net Income Continuous Operations,790200000000.0,736700000000.0,678450000000.0,537390000000.0,NaN
Tax Provision,257070000000.0,203760000000.0,162970000000.0,17220000000.0,NaN
Pretax Income,1047270000000.0,940460000000.0,841420000000.0,554610000000.0,NaN
Other Non Operating Income Expenses,160570000000.0,117340000000.0,149470000000.0,9580000000.0,NaN
Special Income Charges,NaN,0.0,28360000000.0,6760000000.0,-46590000000.0
Other Special Charges,NaN,NaN,-27370000000.0,-7970000000.0,46590000000.0
Write Off,NaN,NaN,0.0,1210000000.0,0.0
Restructuring And Mergern Acquisition,NaN,NaN,NaN,NaN,44440000000.0
Net Non Operating Interest Income Expense,-231180000000.0,-195710000000.0,-145840000000.0,-76060000000.0,NaN
Total Other Finance Cost,NaN,NaN,170000000.0,650000000.0,740000000.0
Interest Expense Non Operating,231180000000.0,195710000000.0,145840000000.0,179070000000.0,NaN
Interest Income Non Operating,NaN,NaN,125290000000.0,103660000000.0,95480000000.0
Operating Income,1114010000000.0,1018590000000.0,806630000000.0,541650000000.0,NaN
Operating Expense,1534880000000.0,1471900000000.0,1145900000000.0,736980000000.0,NaN
Other Operating Expenses,1278090000000.0,1223180000000.0,958150000000.0,396010000000.0,NaN
Selling General And Administration,NaN,NaN,248690000000.0,196700000000.0,242620000000.0
Selling And Marketing Expense,NaN,NaN,159780000000.0,126780000000.0,121100000000.0
General And Administrative Expense,NaN,NaN,88910000000.0,69920000000.0,121520000000.0
Rent And Landing Fees,NaN,NaN,5780000000.0,5990000000.0,57930000000.0
Gross Profit,2648890000000.0,2490490000000.0,1952530000000.0,1278630000000.0,NaN
Cost Of Revenue,6361750000000.0,6287860000000.0,5047090000000.0,3390610000000.0,NaN
Total Revenue,9010640000000.0,8778350000000.0,6999620000000.0,4669240000000.0,NaN
Operating Revenue,9010640000000.0,8778350000000.0,6999620000000.0,4669240000000.0,NaN

In [12]:
financials.loc['Net Income'] / stock.fast_info['marketCap']

2024-03-31    0.034204
2023-03-31     0.03277
2022-03-31    0.029824
2021-03-31    0.024136
2020-03-31         NaN
Name: Net Income, dtype: object

In [13]:
stock.balancesheet.loc['Working Capital']

2024-03-31    727330000000.0
2023-03-31    454440000000.0
2022-03-31    383570000000.0
2021-03-31    954430000000.0
2020-03-31               NaN
Name: Working Capital, dtype: object

In [14]:
balance_sheet.loc['Ordinary Shares Number']

2024-03-31    6766094014.0
2023-03-31    6766094014.0
2022-03-31    6765994014.0
2021-03-31    6762068814.0
2020-03-31             NaN
Name: Ordinary Shares Number, dtype: object

In [61]:
stock = yf.Ticker("RELIANCE.NS")
for i, val in stock.info.items():
    if 'week' in i.lower():
        print(i, val)

fiftyTwoWeekLow 2220.3
fiftyTwoWeekHigh 3217.6
52WeekChange 0.21716571
SandP52WeekChange 0.20451367

In [110]:
stock.info["longName"]

'Reliance Industries Limited'

In [106]:
stock.history(period="5y").pct_change()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-31 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-01 00:00:00+05:30,-0.010504,0.002700,-0.010366,0.012004,0.065863,NaN,NaN
2019-08-02 00:00:00+05:30,0.016639,0.014511,0.016278,0.009497,0.050317,inf,NaN
2019-08-05 00:00:00+05:30,-0.007400,-0.026080,-0.029343,-0.034618,0.279058,-1.0,NaN
2019-08-06 00:00:00+05:30,-0.027635,-0.014910,-0.005319,-0.013163,-0.043789,NaN,NaN
...,...,...,...,...,...,...,...
2024-07-25 00:00:00+05:30,-0.002694,-0.005979,0.000457,-0.002206,0.050910,NaN,NaN
2024-07-26 00:00:00+05:30,0.007698,0.007964,0.008987,0.011140,-0.212457,NaN,NaN
2024-07-29 00:00:00+05:30,0.013100,0.009967,0.014376,0.007339,-0.235437,NaN,NaN
2024-07-30 00:00:00+05:30,0.003357,-0.001637,-0.001174,-0.004572,0.091484,NaN,NaN
2024-07-31 00:00:00+05:30,-0.008586,-0.009541,-0.005861,-0.005337,0.161682,NaN,NaN

In [86]:
for i in stock.mutualfund_holders.index:
    if "" in i.lower():
        print(i)

AttributeError: 'int' object has no attribute 'lower'

In [127]:
stock.financials

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Tax Effect Of Unusual Items,135644750.0,13705670.0,-13826432.0,574200.0
Tax Rate For Calcs,0.25,0.242,0.218,0.396
Total Unusual Items,542579000.0,56635000.0,-63424000.0,1450000.0
Total Unusual Items Excluding Goodwill,542579000.0,56635000.0,-63424000.0,1450000.0
Net Income From Continuing Operation Net Minority Interest,340366408000.0,251100960000.0,183843186000.0,95663078000.0
Reconciled Depreciation,16455886000.0,14794572000.0,14713701000.0,13696381000.0
Net Interest Income,705234219000.0,542401943000.0,465035764000.0,401702508000.0
Interest Expense,505433879000.0,411666711000.0,426590874000.0,446655222000.0
Interest Income,1210668098000.0,954068654000.0,891626638000.0,848357730000.0
Normalized Income,339959473750.0,251058030670.0,183892783568.0,95662202200.0
Net Income From Continuing And Discontinued Operation,340366408000.0,251100960000.0,183843186000.0,95663078000.0
Rent Expense Supplemental,15846567000.0,14085917000.0,13829516000.0,15505773000.0
Diluted Average Shares,7104990357.0,7075943848.0,6842000000.0,6567000000.0
Basic Average Shares,6966305957.0,6933652636.0,6743000000.0,6460000000.0
Diluted EPS,47.84,35.44,26.83,14.55
Basic EPS,48.86,36.21,27.26,14.81
Diluted NI Availto Com Stockholders,340366408000.0,251100960000.0,183843186000.0,95663078000.0
Net Income Common Stockholders,340366408000.0,251100960000.0,183843186000.0,95663078000.0
Net Income,340366408000.0,251100960000.0,183843186000.0,95663078000.0
Minority Interests,-14246738000.0,-14281645000.0,-19796467000.0,-16591602000.0
Net Income Including Noncontrolling Interests,354613146000.0,265382605000.0,203639653000.0,112254680000.0
Net Income Extraordinary,0.0,0.0,0.0,NaN
Net Income Continuous Operations,354613146000.0,265382605000.0,203639653000.0,112254680000.0
Tax Provision,117934400000.0,84574400000.0,56643700000.0,73631400000.0
Pretax Income,354613146000.0,265382605000.0,203639653000.0,112254680000.0
Special Income Charges,542579000.0,56635000.0,-63424000.0,1450000.0
Other Special Charges,-542579000.0,-56635000.0,63424000.0,-1450000.0
Gain On Sale Of Security,11412527000.0,25126881000.0,79823949000.0,32376198000.0
Depreciation Amortization Depletion Income Statement,15145592000.0,13300074000.0,13400744000.0,11712176000.0
Depreciation And Amortization In Income Statement,15145592000.0,13300074000.0,13400744000.0,11712176000.0
Depreciation Income Statement,15145592000.0,13300074000.0,13400744000.0,11712176000.0
Selling General And Administration,312136641000.0,268025456000.0,290155674000.0,279473394000.0
Selling And Marketing Expense,65407090000.0,49011460000.0,48920061000.0,47429310000.0
General And Administrative Expense,246729551000.0,219013996000.0,241235613000.0,232044084000.0
Other Gand A,10188362000.0,9324939000.0,7951883000.0,8739095000.0
Insurance And Claims,68215530000.0,72063619000.0,108819710000.0,96103596000.0
Rent And Landing Fees,15846567000.0,14085917000.0,13829516000.0,15505773000.0
Salaries And Wages,152479092000.0,123539521000.0,110634504000.0,111695620000.0
Total Revenue,1355811552000.0,1163639822000.0,1185394470000.0,1049452128000.0
Operating Revenue,1355811552000.0,1163639822000.0,1185394470000.0,1049452128000.0
Occupancy And Equipment,34644161000.0,26994748000.0,21785244000.0,20160035000.0
Professional Expense And Contract Services Expense,2020560000.0,1926738000.0,2372867000.0,2167902000.0
Other Non Interest Expense,460443278000.0,421270259000.0,435002167000.0,401665481000.0

In [45]:
lst = list()

In [36]:
def update_dict():
    
    for i in tickers_dict:
        try:
            end_date = datetime.today()
            print(i)
            start_date = end_date - timedelta(days=120)  # 4 months before today

            # Fetch stock data using yfinance
            df = yf.download(i, start=start_date, end=end_date)
            stock_data = df.copy()

            # Calculate technical indicators using pandas-ta
            stock_data.ta.macd(append=True)
            stock_data.ta.rsi(append=True)
            


            financials = yf.Ticker(i).financials
            eps_list = financials.loc['Diluted EPS'].tolist()

            balance_sheet = yf.Ticker(i).balance_sheet
            book_value = balance_sheet.loc['Tangible Book Value'].tolist()


            income_list = financials.loc['Net Income'].tolist()
            net_income = next((x for x in income_list if x is not None and pd.notna(x)), None)
            
            market_cap = yf.Ticker(i).fast_info['marketCap']
            net_income = net_income / market_cap

            market_price = df.iloc[-1]['Close']

            # Retrieve the relevant data
            book_value = balance_sheet.loc['Tangible Book Value'].tolist()
            book_value = next((x for x in book_value if x is not None and pd.notna(x)), None)

            num_shares = balance_sheet.loc['Ordinary Shares Number'].tolist()
            num_shares = next((x for x in num_shares if x is not None and pd.notna(x)), None)

            # Calculate Book Value per Share
            book_value_per_share = book_value / num_shares

            # Calculate P/B Ratio
            pb_ratio = market_price / book_value_per_share

            # Calculate EPS
            eps = net_income / num_shares

            # Calculate P/E Ratio
            pe_ratio = market_price / eps


            tickers_dict[i]['rsi'] = stock_data.iloc[-1]['RSI_14']
            tickers_dict[i]['MACD_12_26_9'] = stock_data.iloc[-1]['MACD_12_26_9']
            tickers_dict[i]['eps'] = next((x for x in eps_list if x is not None and pd.notna(x)), None)
            # tickers_dict[i]['book_value'] = next((x for x in book_value if x is not None and pd.notna(x)), None)
            tickers_dict[i]['pe_ratio'] = pe_ratio
            tickers_dict[i]['pb_ratio'] = pb_ratio

        except:
            lst.append(i)
            print(f"error occured for stock - {i}")

In [37]:
update_dict()

RELIANCE.NS

[*********************100%%**********************]  1 of 1 completed

TCS.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

HDFCBANK.NS

INFY.NS

[*********************100%%**********************]  1 of 1 completed

HINDUNILVR.NS

[*********************100%%**********************]  1 of 1 completed

ICICIBANK.NS

[*********************100%%**********************]  1 of 1 completed

KOTAKBANK.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

BAJFINANCE.NS

ITC.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

BHARTIARTL.NS

ASIANPAINT.NS

[*********************100%%**********************]  1 of 1 completed

LT.NS

[*********************100%%**********************]  1 of 1 completed

AXISBANK.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

SBIN.NS

MARUTI.NS

[*********************100%%**********************]  1 of 1 completed

HCLTECH.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

SUNPHARMA.NS

[*********************100%%**********************]  1 of 1 completed

ULTRACEMCO.NS

[*********************100%%**********************]  1 of 1 completed

NESTLEIND.NS

[*********************100%%**********************]  1 of 1 completed

TITAN.NS

TATASTEEL.NS

[*********************100%%**********************]  1 of 1 completed

WIPRO.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ADANIGREEN.NS

DIVISLAB.NS

[*********************100%%**********************]  1 of 1 completed

M&M.NS

[*********************100%%**********************]  1 of 1 completed

BAJAJFINSV.NS

[*********************100%%**********************]  1 of 1 completed

POWERGRID.NS

[*********************100%%**********************]  1 of 1 completed

NTPC.NS

[*********************100%%**********************]  1 of 1 completed

GRASIM.NS

[*********************100%%**********************]  1 of 1 completed

TECHM.NS

[*********************100%%**********************]  1 of 1 completed

ONGC.NS

[*********************100%%**********************]  1 of 1 completed

JSWSTEEL.NS

[*********************100%%**********************]  1 of 1 completed

CIPLA.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

HEROMOTOCO.NS

BPCL.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ADANIPORTS.NS

SHREECEM.NS

[*********************100%%**********************]  1 of 1 completed

COALINDIA.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

SBILIFE.NS

BRITANNIA.NS

[*********************100%%**********************]  1 of 1 completed

EICHERMOT.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

UPL.NS

DRREDDY.NS

[*********************100%%**********************]  1 of 1 completed

BAJAJ-AUTO.NS

[*********************100%%**********************]  1 of 1 completed

INDUSINDBK.NS

[*********************100%%**********************]  1 of 1 completed

IOC.NS

[*********************100%%**********************]  1 of 1 completed

HINDALCO.NS

[*********************100%%**********************]  1 of 1 completed

TATACONSUM.NS

[*********************100%%**********************]  1 of 1 completed

VEDL.NS

[*********************100%%**********************]  1 of 1 completed

In [49]:
# tickers_dict

In [117]:
# Convert the dictionary to a DataFrame
df = pd.DataFrame(tickers_dict)

# Transpose the DataFrame to have stocks as rows and metrics as columns
df = df.T

In [118]:
df

                     rsi  MACD_12_26_9         eps      pe_ratio    pb_ratio
RELIANCE.NS    45.086378     -4.851933   25.520000    107.494888    4.703539
TCS.NS         74.179618    124.366984   30.290000    127.699512   18.025540
HDFCBANK.NS    47.685490     -3.935713   21.590000     74.592485    2.582612
INFY.NS        81.058954     83.085722    0.180000  10131.895195  868.513205
HINDUNILVR.NS  62.365843     57.762165   11.110000    242.250961  114.854679
ICICIBANK.NS   50.287206      9.885731   16.320000     76.760956    3.480946
KOTAKBANK.NS   49.840750      2.290973   37.470000     47.768596    2.757536
BAJFINANCE.NS  43.870135    -85.583398   63.110000    107.798081    5.564429
ITC.NS         68.346814     16.126407    4.260000    119.896530    8.642178
BHARTIARTL.NS  59.641923     18.991139    4.140000    435.477681  -13.518805
ASIANPAINT.NS  68.245893     21.678544   12.200000    252.827248   16.539943
LT.NS          63.734241     36.949389   20.250000    187.417350    8.555260
AXISBANK.NS    29.966433    -16.262987   20.690000     56.008178    2.189451
SBIN.NS        55.165865      7.251290   12.400000     36.332147    1.872400
MARUTI.NS      63.720456     98.832335  102.000000    102.975736    4.790846
HCLTECH.NS     75.628287     45.443154   15.690000    104.130725   10.811553
SUNPHARMA.NS   74.415174     47.345544   10.500000    155.678661    8.906201
ULTRACEMCO.NS  62.011935    177.456226   58.820000    202.161638    7.091777
NESTLEIND.NS   35.162261    -17.962144    7.740000    318.329413   83.194098
TITAN.NS       57.147417     25.655568   11.900000    397.624481   34.230513
TATASTEEL.NS   45.453612     -2.998636    0.420000    336.198712    2.802325
WIPRO.NS       50.273469      3.536908    5.730000     90.560880    6.280132
ADANIGREEN.NS  62.449588      7.336938    2.630000    658.527771   30.151256
DIVISLAB.NS    68.324823     95.461482   13.500000    243.463689    9.528947
M&M.NS         63.385442     39.877825   23.760000    128.901834    6.467380
BAJAJFINSV.NS  61.657221     10.027085   13.300000    122.909776    4.490543
POWERGRID.NS   61.585941      4.859604    4.000000     86.939039    3.786982
NTPC.NS        67.599823      7.493379    5.650000     72.085449    2.464317
GRASIM.NS      57.135432     59.180603   22.958711    137.811032    3.142741
TECHM.NS       67.318909     36.152915    9.600000    160.439864    8.369041
ONGC.NS        69.233627     14.196079    8.230000     38.174683    1.302682
JSWSTEEL.NS    53.621346     -5.627053    3.450000    265.910351    3.016557
CIPLA.NS       56.995121     11.021607   14.570000    105.593111    5.654002
HEROMOTOCO.NS  49.105655     -5.399916   54.590000    116.808641    6.501657
BPCL.NS        72.313002      8.906409    6.650000     53.163508    2.435353
ADANIPORTS.NS  67.652073     25.542065   10.220000    166.464337    9.769204
SHREECEM.NS    52.650291    102.307337  194.540000    147.844828    4.848401
COALINDIA.NS   66.786475      8.395750   14.720000     23.742492    4.248619
SBILIFE.NS     73.636303     66.748671    5.180000    338.344507   11.288355
BRITANNIA.NS   63.250604    115.297130   23.110000    261.273270   37.002256
EICHERMOT.NS   61.594155     57.118663   36.310000    127.309583    8.011696
UPL.NS         60.449907      0.721120  -17.110000   1072.336864  -12.563994
DRREDDY.NS     63.032928    157.150690   83.460000     81.020978    4.453302
BAJAJ-AUTO.NS  57.006538      9.065233   69.600000    138.740896    9.310871
INDUSINDBK.NS  47.382983    -14.118427   27.850000     51.180113    1.757721
IOC.NS         65.323919      3.148734    6.560000     49.887707    1.460604
HINDALCO.NS    46.866365     -5.681232   10.490000     47.057487    2.022320
TATACONSUM.NS  53.303267     21.711876    3.000000    517.674787 -180.434884
VEDL.NS        49.920394     -1.939883    5.380000    121.409084    6.413375

In [53]:
df.to_csv("F:\\psg\\bob\\Smart-Wealth\\backend\\clusters\\datasets\\metrics.csv")

In [52]:
df.shape

(49, 5)

In [54]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN

In [65]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN

# Scale the DataFrame
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)

# Apply DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=2)  # Adjust eps and min_samples as needed
clusters = dbscan.fit_predict(scaled_data)

# Add cluster labels to the DataFrame
df['Cluster'] = clusters

In [66]:
df.Cluster.value_counts()

Cluster
 0    30
-1    12
 1     5
 2     2
Name: count, dtype: int64

In [67]:
df.to_csv("F:\\psg\\bob\\Smart-Wealth\\backend\\clusters\\datasets\\clusters.csv")

In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("F:\\psg\\bob\\Smart-Wealth\\backend\\clusters\\datasets\\clusters.csv")

In [30]:
df.head()

,Unnamed: 0,rsi,MACD_12_26_9,eps,pe_ratio,pb_ratio,Cluster
0,RELIANCE.NS,45.714092,45.714092,25.52,107.753735,2.573522,0
1,TCS.NS,76.141312,76.141312,30.29,127.679151,17.544260,1
2,HDFCBANK.NS,47.938527,47.938527,21.59,74.726409,2.587249,0
3,INFY.NS,86.939338,86.939338,0.18,10199.206070,781.638633,-1
4,HINDUNILVR.NS,66.857558,66.857558,11.11,244.055920,12.436760,0

In [31]:
df.shape

(49, 7)

In [32]:
import json

In [ ]:
# HDFC Life Insurance Company Limited
# Apollo Hospitals Enterprise Limited
# Adani Enterprises Limited
# Tata Motors Limited
# TATA Steel Limited
# TATA CONSUMER PRODUCTS LIMITED
# Dr. Reddys Laboratories Ltd.
# Shriram Finance Company Ltd.
# Oil & Natural Gas Corporation Ltd.

In [33]:
company_to_ticker = {
    "Reliance Industries Limited": "RELIANCE.NS",
    "Tata Consultancy Services Limited": "TCS.NS",
    "HDFC Bank Limited": "HDFCBANK.NS",
    "Infosys Limited": "INFY.NS",
    "Hindustan Unilever Limited": "HINDUNILVR.NS",
    "ICICI Bank Limited": "ICICIBANK.NS",
    "Kotak Mahindra Bank Limited": "KOTAKBANK.NS",
    "Bajaj Finance Limited": "BAJFINANCE.NS",
    "ITC Limited": "ITC.NS",
    "Bharti Airtel Limited": "BHARTIARTL.NS",
    "Asian Paints Limited": "ASIANPAINT.NS",
    "Larsen & Toubro Limited": "LT.NS",
    "Axis Bank Limited": "AXISBANK.NS",
    "State Bank of India": "SBIN.NS",
    "Maruti Suzuki India Limited": "MARUTI.NS",
    "HCL Technologies Limited": "HCLTECH.NS",
    "Sun Pharmaceutical Industries Limited": "SUNPHARMA.NS",
    "UltraTech Cement Limited": "ULTRACEMCO.NS",
    "Nestle India Limited": "NESTLEIND.NS",
    "Titan Company Limited": "TITAN.NS",
    "Tata Steel Limited": "TATASTEEL.NS",
    "Wipro Limited": "WIPRO.NS",
    "Adani Green Energy Limited": "ADANIGREEN.NS",
    "Divi's Laboratories Limited": "DIVISLAB.NS",
    "Mahindra & Mahindra Limited": "M&M.NS",
    "Bajaj Finserv Limited": "BAJAJFINSV.NS",
    "Power Grid Corporation of India Limited": "POWERGRID.NS",
    "NTPC Limited": "NTPC.NS",
    "Grasim Industries Limited": "GRASIM.NS",
    "Tech Mahindra Limited": "TECHM.NS",
    "Oil and Natural Gas Corporation Limited": "ONGC.NS",
    "JSW Steel Limited": "JSWSTEEL.NS",
    "Cipla Limited": "CIPLA.NS",
    "Hero MotoCorp Limited": "HEROMOTOCO.NS",
    "Bharat Petroleum Corporation Limited": "BPCL.NS",
    "Adani Ports and Special Economic Zone Limited": "ADANIPORTS.NS",
    "Shree Cement Limited": "SHREECEM.NS",
    "Coal India Limited": "COALINDIA.NS",
    "SBI Life Insurance Company Limited": "SBILIFE.NS",
    "Britannia Industries Limited": "BRITANNIA.NS",
    "Eicher Motors Limited": "EICHERMOT.NS",
    "UPL Limited": "UPL.NS",
    "Dr. Reddy's Laboratories Limited": "DRREDDY.NS",
    "Bajaj Auto Limited": "BAJAJ-AUTO.NS",
    "IndusInd Bank Limited": "INDUSINDBK.NS",
    "Indian Oil Corporation Limited": "IOC.NS",
    "Hindalco Industries Limited": "HINDALCO.NS",
    "Tata Consumer Products Limited": "TATACONSUM.NS",
    "Vedanta Limited": "VEDL.NS"
}

In [47]:
with open("F:\\psg\\bob\\Smart-Wealth\\backend\\clusters\\datasets\\company_summary_v3.json", 'r') as file:
    data = json.load(file)

In [48]:
len(data)

49

In [49]:
len(company_to_ticker)

49

In [50]:


# data = json.loads(json_data)

# Prepare the data for DataFrame
rows = []

for company, metrics in data.items():
    if company in company_to_ticker:
        ticker = company_to_ticker[company]
        sentiment = metrics['company_sentiment']
        trend = metrics['company_trend']
        
        row = {
            'ticker_name': ticker,
            'company_sentiment_positive': sentiment['positive'],
            'company_sentiment_negative': sentiment['negative'],
            'company_sentiment_neutral': sentiment['neutral'],
            'company_trend_bullish': trend['bullish'],
            'company_trend_bearish': trend['bearish'],
            'company_trend_neutral': trend['neutral']
        }
        
        rows.append(row)

    else:
        print(company)

# Create DataFrame
data = pd.DataFrame(rows)

HDFC Life Insurance Company Limited
Apollo Hospitals Enterprise Limited
Adani Enterprises Limited
Tata Motors Limited
TATA Steel Limited
TATA CONSUMER PRODUCTS LIMITED
Dr. Reddys Laboratories Ltd.
Shriram Finance Company Ltd.
Oil & Natural Gas Corporation Ltd.

In [38]:
data.columns

Index(['ticker_name', 'company_sentiment_positive',
       'company_sentiment_negative', 'company_sentiment_neutral',
       'company_trend_bullish', 'company_trend_bearish',
       'company_trend_neutral'],
      dtype='object')

In [39]:
data.shape

(40, 7)

In [13]:
df.columns

Index(['Unnamed: 0', 'rsi', 'MACD_12_26_9', 'eps', 'pe_ratio', 'pb_ratio',
       'Cluster'],
      dtype='object')

In [15]:
# Merge the two dataframes on the specified columns
merged_df = pd.merge(data, df, left_on='ticker_name', right_on='Unnamed: 0', how='inner')

# Drop the redundant 'Unnamed: 0' column
merged_df = merged_df.drop(columns=['Unnamed: 0'])

In [18]:
merged_df.drop(['Cluster'], axis=1, inplace=True)

In [24]:
list(merged_df.columns)

['ticker_name',
 'company_sentiment_positive',
 'company_sentiment_negative',
 'company_sentiment_neutral',
 'company_trend_bullish',
 'company_trend_bearish',
 'company_trend_neutral',
 'rsi',
 'MACD_12_26_9',
 'eps',
 'pe_ratio',
 'pb_ratio']

In [25]:
ser = merged_df.ticker_name

In [27]:
merged_df.shape

(40, 12)

In [26]:
ser

0           INFY.NS
1            ITC.NS
2      ICICIBANK.NS
3            TCS.NS
4     HINDUNILVR.NS
5           SBIN.NS
6       HDFCBANK.NS
7      KOTAKBANK.NS
8         MARUTI.NS
9     BAJAJFINSV.NS
10       SBILIFE.NS
11            LT.NS
12     NESTLEIND.NS
13      AXISBANK.NS
14         CIPLA.NS
15    BHARTIARTL.NS
16    HEROMOTOCO.NS
17        GRASIM.NS
18         TECHM.NS
19     SUNPHARMA.NS
20    INDUSINDBK.NS
21      RELIANCE.NS
22           M&M.NS
23    BAJFINANCE.NS
24    BAJAJ-AUTO.NS
25         WIPRO.NS
26    ULTRACEMCO.NS
27          NTPC.NS
28     COALINDIA.NS
29      HINDALCO.NS
30      JSWSTEEL.NS
31    ASIANPAINT.NS
32      DIVISLAB.NS
33     BRITANNIA.NS
34          BPCL.NS
35       HCLTECH.NS
36     POWERGRID.NS
37     EICHERMOT.NS
38         TITAN.NS
39    ADANIPORTS.NS
Name: ticker_name, dtype: object

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN

# Scale the DataFrame
scaler = StandardScaler()
scaled_data = scaler.fit_transform(merged_df)

# Apply DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=2)  # Adjust eps and min_samples as needed
clusters = dbscan.fit_predict(scaled_data)

# Add cluster labels to the DataFrame
merged_df['Cluster'] = clusters

ValueError: could not convert string to float: 'INFY.NS'

In [ ]:
merged_df